{
  "openapi": "3.1.0",
  "info": {
    "title": "Chift API",
    "description": "The Chift API is a universal API giving you access to financial data from the software of your clients. It helps software companies to offer native integrations to their clients without the effort needed to maintain those native integrations. By using the APIs (Accounting, POS, eCommerce) of Chift, you connect once and allow your clients to use their software packages.",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://api.chift.eu", "description": "Chift" }],
  "paths": {
    "/token": {
      "post": {
        "tags": ["General"],
        "summary": "Get access token",
        "description": "This endpoint allows you to get an access token that can be used as a BEARER token to access the protected endpoints of this APIs. The token is valid for 30 minutes. You can refresh the token by requesting a new token.",
        "operationId": "generate_access_token_token_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AuthItem" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Token" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "security": []
      }
    },
    "/consumers": {
      "get": {
        "tags": ["Consumers"],
        "summary": "Get consumers",
        "description": "Returns the list of consumers linked to your account.",
        "operationId": "consumers_get_consumers",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "title": "Search"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/ConsumerItem" },
                  "title": "Response Consumers Get Consumers"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Consumers"],
        "summary": "Create new consumer",
        "description": "Create a new consumer that will have the possibility to use the enabled integrations",
        "operationId": "consumers_create_consumer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PostConsumerItem" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConsumerItem" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The specified name is not valid",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The specified redirect url is not valid",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/consumers/{consumerid}": {
      "get": {
        "tags": ["Consumers"],
        "summary": "Get one consumer",
        "description": "Returns the specified consumer",
        "operationId": "consumers_get_consumer",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumerid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConsumerItem" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The consumer does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Consumers"],
        "summary": "Update one consumer",
        "description": "Update one consumer in Chift",
        "operationId": "consumers_update_consumer",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumerid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateConsumerItem" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConsumerItem" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The consumer does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The specified redirect url is not valid",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Unprocessable Entity"
          }
        }
      },
      "delete": {
        "tags": ["Consumers"],
        "summary": "Delete one consumer",
        "description": "Endpoint that deletes one consumer in Chift",
        "operationId": "consumers_delete_consumer",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumerid"
            }
          }
        ],
        "responses": {
          "204": { "description": "Successful Response" },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The consumer does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumerid}/connections": {
      "get": {
        "tags": ["Connections"],
        "summary": "Get connections",
        "description": "Returns a list of the connections (active or inactive) linked to your consumer",
        "operationId": "connections_get_connections",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumerid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/backbone_api__app__routers__connections__ConnectionItem"
                  },
                  "title": "Response Connections Get Connections"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The consumer does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Connections"],
        "summary": "Add new connection",
        "description": "Returns the url that can be used by your client to enable his integrations.",
        "operationId": "connections_create_connection",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumerid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  { "$ref": "#/components/schemas/PostConnectionItem-Input" },
                  { "type": "null" }
                ],
                "title": "Item"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LinkItem" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "Integration is not valid or active": {
                    "value": {
                      "message": "The specified integrationid is not valid, is not active or does not exist",
                      "status": "error"
                    }
                  },
                  "Connection already exists": {
                    "value": {
                      "message": "There is already an active connection for the integrationid {integrationid}. Only one can be created for each consumer for each integrationid.",
                      "status": "error"
                    }
                  },
                  "Invalid country code": {
                    "value": {
                      "message": "{country_code} is not a valid country code.",
                      "status": "error"
                    }
                  },
                  "Country not supported": {
                    "value": {
                      "message": "No integration supports country '{country_code}'",
                      "status": "error"
                    }
                  },
                  "Missing credentials": {
                    "value": {
                      "message": "Missing at least one credential for this integration",
                      "status": "error"
                    }
                  },
                  "Missing postconnection value": {
                    "value": {
                      "message": "Missing at least one post connection value for this integration. When providing post connection values, make sure to provide all mandatory post connection values.",
                      "status": "error"
                    }
                  }
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The consumer does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Invalid datetime format in key {key}",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/consumers/{consumerid}/connections/{connectionid}": {
      "patch": {
        "tags": ["Connections"],
        "summary": "Update an existing connection",
        "description": "Returns the url that can be used by your client to update the connection",
        "operationId": "connections_update_connection",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumerid"
            }
          },
          {
            "name": "connectionid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Connectionid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  { "$ref": "#/components/schemas/PatchConnectionItem" },
                  { "type": "null" }
                ],
                "title": "Item"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LinkItem" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "Could not retrieve connections": {
                    "value": {
                      "message": "Existing connections could not be retrived",
                      "status": "error"
                    }
                  },
                  "Invalid connectionid": {
                    "value": {
                      "message": "The specified connectionid is not valid",
                      "status": "error"
                    }
                  },
                  "Missing credentials": {
                    "value": {
                      "message": "Missing at least one credential for this integration",
                      "status": "error"
                    }
                  },
                  "Missing postconnection value": {
                    "value": {
                      "message": "Missing at least one post connection value for this integration. When providing post connection values, make sure to provide all mandatory post connection values.",
                      "status": "error"
                    }
                  }
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The connection does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Invalid datetime format in key {key}",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Unprocessable Entity"
          }
        }
      },
      "delete": {
        "tags": ["Connections"],
        "summary": "Delete one connection",
        "description": "Endpoint that deletes one connection of a consumer in Chift",
        "operationId": "connections_delete_connection",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumerid"
            }
          },
          {
            "name": "connectionid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Connectionid"
            }
          }
        ],
        "responses": {
          "204": { "description": "Successful Response" },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The specified connectionid is not valid",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The connection does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/integrations": {
      "get": {
        "tags": ["Integrations"],
        "summary": "Get list of integrations",
        "description": "Returns a list of integrations (active and inactive) available for your account",
        "operationId": "integrations_get_integrations",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "$ref": "#/components/schemas/Status" },
                { "type": "null" }
              ],
              "title": "Status"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/IntegrationItem" },
                  "title": "Response Integrations Get Integrations"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/integrations/{integrationid}/{image_type}.json": {
      "get": {
        "tags": ["Integrations"],
        "summary": "Returns a logo/icon of an integration (as base64)",
        "operationId": "integrations_get_integration_logo_json",
        "parameters": [
          {
            "name": "integrationid",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "title": "Integrationid" }
          },
          {
            "name": "image_type",
            "in": "path",
            "required": true,
            "schema": { "$ref": "#/components/schemas/ImageType" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LogoImage" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The {image_type} doesn't exist.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/webhooks/list": {
      "get": {
        "tags": ["Webhooks"],
        "summary": "Get list of possible webhooks",
        "description": "Returns a list of webhook that are available for your account",
        "operationId": "webhooks_get_webhook_types",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/WebhookItem" },
                  "title": "Response Webhooks Get Webhook Types"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "tags": ["Webhooks"],
        "summary": "Add new webhook instance",
        "description": "Returns the created webhook instance",
        "operationId": "webhooks_create_webhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookInstancePostItem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookInstanceGetItem"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "There is already an existing webhook with the same url and type",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Webhooks"],
        "summary": "Get list of webhook instances",
        "description": "Returns a list of webhook instances (active/inactive) for your account",
        "operationId": "webhooks_get_webhooks",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "$ref": "#/components/schemas/Status" },
                { "type": "null" }
              ],
              "title": "Status"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookInstanceGetItem"
                  },
                  "title": "Response Webhooks Get Webhooks"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/webhooks/{webhookid}": {
      "delete": {
        "tags": ["Webhooks"],
        "summary": "Delete one webhook",
        "description": "Endpoint that deletes one existing webhook",
        "operationId": "webhooks_delete_webhook",
        "parameters": [
          {
            "name": "webhookid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Webhookid"
            }
          }
        ],
        "responses": {
          "204": { "description": "Successful Response" },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The specified webhook could not be found for this account",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Webhooks"],
        "summary": "Get one webhook instance",
        "description": "Returns one webhook instance",
        "operationId": "webhooks_get_webhook",
        "parameters": [
          {
            "name": "webhookid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Webhookid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookInstanceGetItem"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The specified webhook could not be found for this account",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Webhooks"],
        "summary": "Update one webhook",
        "description": "Update one webhook in Chift",
        "operationId": "webhooks_update_webhook",
        "parameters": [
          {
            "name": "webhookid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Webhookid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookInstancePatchItem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookInstanceGetItem"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The specified url is not valid",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The specified webhook could not be found for this account",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/webhooks/{webhookid}/logs": {
      "get": {
        "tags": ["Webhooks"],
        "summary": "Get list of webhook logs for one webhook",
        "description": "Returns a list of webhook logs for one webhook for your account",
        "operationId": "webhooks_get_webhook_logs",
        "parameters": [
          {
            "name": "webhookid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Webhookid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/WebhookLogItem" },
                  "title": "Response Webhooks Get Webhook Logs"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The specified webhook could not be found for this account",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/syncs": {
      "get": {
        "tags": ["Syncs"],
        "summary": "Get syncs",
        "description": "Returns the syncs",
        "operationId": "syncs_get_syncs",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/ReadSyncItem" },
                  "title": "Response Syncs Get Syncs"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Syncs"],
        "summary": "Create sync",
        "description": "Returns the created sync",
        "operationId": "syncs_post_sync",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateSyncItem" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReadSyncItem" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Syncs"],
        "summary": "Update existing sync",
        "description": "Update existing sync & related flows and mappings",
        "operationId": "syncs_update_sync",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateSyncItem" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReadSyncItem" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/syncs/{syncid}": {
      "get": {
        "tags": ["Syncs"],
        "summary": "Get sync",
        "description": "Returns a sync by id",
        "operationId": "syncs_get_sync",
        "parameters": [
          {
            "name": "syncid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Syncid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReadSyncItem" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The sync does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/syncs/{syncid}/flows/{flowid}/event": {
      "post": {
        "tags": ["Syncs"],
        "summary": "Send a custom event for a specific flow",
        "description": "Route that can be used to send a specific event for a flow",
        "operationId": "syncs_send_custom_event",
        "parameters": [
          {
            "name": "syncid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Syncid" }
          },
          {
            "name": "flowid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Flowid" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PostSyncFlowEvent" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TriggerResponse" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "You cannot force the execution for all consumers",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The chain does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Error while validating context data; the field {field.get('name')} does not seem to be of type {fieldtype}",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/consumers/{consumerid}/syncs/{syncid}/flows/{flowid}/executions": {
      "get": {
        "tags": ["Consumers"],
        "summary": "Get executions information for one consumer/flow/sync",
        "description": "Returns executions information for one consumer/flow/sync",
        "operationId": "syncs_get_consumer_executions",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumerid"
            }
          },
          {
            "name": "syncid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "Syncid" }
          },
          {
            "name": "flowid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "Flowid" }
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "type": "string", "format": "date-time" },
                { "type": "null" }
              ],
              "title": "Date To"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "type": "string", "format": "date-time" },
                { "type": "null" }
              ],
              "title": "Date From"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChainExecutionItem"
                  },
                  "title": "Response Syncs Get Consumer Executions"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The flow does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/syncs/{syncid}/flows/{flowid}/executions/{executionid}": {
      "get": {
        "tags": ["Syncs"],
        "summary": "Get execution start/end timestamp",
        "description": "Get execution start/end timestamp",
        "operationId": "syncs_get_execution",
        "parameters": [
          {
            "name": "syncid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Syncid" }
          },
          {
            "name": "flowid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Flowid" }
          },
          {
            "name": "executionid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Executionid" }
          },
          {
            "name": "consumerid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "title": "Consumerid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChainExecutionItem" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The execution does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumerid}/syncs": {
      "post": {
        "tags": ["Consumers"],
        "summary": "Retrieve the url of a sync for a specific consumer",
        "description": "This route can be used to retrieve the url that can be shared with your clients to allow them to connect as specified in a sync",
        "operationId": "syncs_create_synctoconsumer",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumerid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsumerSyncItem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LinkSyncItem" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "Sync not found": {
                    "value": {
                      "message": "The sync does not exist",
                      "status": "error"
                    }
                  },
                  "Flow not found": {
                    "value": {
                      "message": "The flow does not exist",
                      "status": "error"
                    }
                  }
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "One API integration conflict": {
                    "value": {
                      "message": "You can only provide one integrationid for each selected One API",
                      "status": "error"
                    }
                  },
                  "Integration not in sync": {
                    "value": {
                      "message": "{integrationid} is not part of the selected integrations of the sync",
                      "status": "error"
                    }
                  },
                  "Invalid country code": {
                    "value": {
                      "message": "{country_code} is not a valid country code.",
                      "status": "error"
                    }
                  },
                  "No integrations support country": {
                    "value": {
                      "message": "No integration supports country '{country_code}'",
                      "status": "error"
                    }
                  }
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumerid}/syncs/{syncid}": {
      "get": {
        "tags": ["Consumers"],
        "summary": "Get sync information for one consumer",
        "description": "Returns sync information (creation date, mapping) related to a specific consumer",
        "operationId": "syncs_get_syncconsumer",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumerid"
            }
          },
          {
            "name": "syncid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "Syncid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SyncConsumerItem" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The consumer is not configured for this sync",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Syncs"],
        "summary": "Update flow mappings for a specific consumer",
        "description": "Route that can be used to update the flow mappings for a specific consumer. It will replace the existing configuration with the provided one.",
        "operationId": "syncs_update_synctoconsumer",
        "parameters": [
          {
            "name": "syncid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "Syncid" }
          },
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumerid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/ReadSyncMappingItem" },
                "title": "Body"
              }
            }
          }
        },
        "responses": {
          "204": { "description": "Successful Response" },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The flow is not yet activated for this consumer",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The body should be a list",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/consumers/{consumerid}/syncs/{syncid}/flows/{flowid}/enable": {
      "post": {
        "tags": ["Syncs"],
        "summary": "Enable a flow for a specific consumer",
        "description": "Route that can be used to enable a flow for a specific consumer",
        "operationId": "syncs_enable_syncconsumer",
        "parameters": [
          {
            "name": "syncid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "Syncid" }
          },
          {
            "name": "flowid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "Flowid" }
          },
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumerid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EnableFlowConsumer" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The consumer does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Impossible to enable the flow as the flow requires configuration fields",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Error while validating context data; the field {field_name} does not seem to be of type {field_type}",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/consumers/{consumerid}/syncs/{syncid}/flows/{flowid}": {
      "patch": {
        "tags": ["Syncs"],
        "summary": "Update flow settings for a specific consumer",
        "description": "Route that can be used to update the flow configuration for a specific consumer. It will merge the new configuration with the existing one.",
        "operationId": "syncs_update_flowtoconsumer",
        "parameters": [
          {
            "name": "syncid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "Syncid" }
          },
          {
            "name": "flowid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "Flowid" }
          },
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumerid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateFlowConsumer" }
            }
          }
        },
        "responses": {
          "204": { "description": "Successful Response" },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The flow is not yet activated for this consumer",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Error while validating context data; the field {field_name} does not seem to be of type {field_type}",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/datastores": {
      "get": {
        "tags": ["Datastores"],
        "summary": "Get list of datastores",
        "description": "Returns a list of datastores (active and inactive) available for your account",
        "operationId": "datastores_get_datastores",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "$ref": "#/components/schemas/Status" },
                { "type": "null" }
              ],
              "title": "Status"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/DataStoreItem" },
                  "title": "Response Datastores Get Datastores"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumerid}/datastore/{datastoreid}/data": {
      "get": {
        "tags": ["Consumers"],
        "summary": "Get execution data for a specific consumer and a specific datastore",
        "description": "Returns execution data related to a consumer and a datastore. Queryparams can be used to filter the restuls by datastore column or by executionid",
        "operationId": "datastores_get_consumer_and_datastoredata",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumerid"
            }
          },
          {
            "name": "datastoreid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Datastoreid"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "type": "string", "format": "date-time" },
                { "type": "null" }
              ],
              "title": "Date To"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "type": "string", "format": "date-time" },
                { "type": "null" }
              ],
              "title": "Date From"
            }
          },
          {
            "name": "executionid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "title": "Executionid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/DataItemOut" },
                  "title": "Response Datastores Get Consumer And Datastoredata"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The datastore does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Consumers"],
        "summary": "Add data into a datastore for a consumer",
        "description": "Endpoint that can be used to add data into a datastore for a specific consumer",
        "operationId": "datastores_create_consumer_datastoredata",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumerid"
            }
          },
          {
            "name": "datastoreid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Datastoreid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/DataItem" },
                "title": "Datas"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/DataItemOut" },
                  "title": "Response Datastores Create Consumer Datastoredata"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The datastore does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The input does not match the definition of the datastore",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/consumers/{consumerid}/datastore/{datastoreid}/data/{datastoredataid}": {
      "patch": {
        "tags": ["Consumers"],
        "summary": "Update execution data for a specific consumer and a specific datastore",
        "description": "Update and returns execution data related to a consumer and a datastore",
        "operationId": "datastores_update_consumer_datastoredata",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumerid"
            }
          },
          {
            "name": "datastoreid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Datastoreid"
            }
          },
          {
            "name": "datastoredataid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Datastoredataid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DataItem" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DataItemOut" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The datastoredata does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The input does not match the definition of the datastore",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Unprocessable Entity"
          }
        }
      },
      "delete": {
        "tags": ["Consumers"],
        "summary": "Delete execution data for a specific consumer and a specific datastore",
        "description": "Delete execution data related to a consumer and a datastore",
        "operationId": "datastores_delete_consumer_datastoredata",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumerid"
            }
          },
          {
            "name": "datastoreid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Datastoreid"
            }
          },
          {
            "name": "datastoredataid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Datastoredataid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The datastoredata does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/issues": {
      "get": {
        "tags": ["Issues"],
        "summary": "Get issues",
        "description": "Returns a list of the issues of your account. Filters can be used to query specific results. Filters can be combined and are inclusive.",
        "operationId": "issues_get_issues",
        "parameters": [
          {
            "name": "created_on",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "The search query to filter issues by creation date.",
              "title": "Created On"
            },
            "description": "The search query to filter issues by creation date."
          },
          {
            "name": "last_seen_on",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "The search query to filter issues by last seen date.",
              "title": "Last Seen On"
            },
            "description": "The search query to filter issues by last seen date."
          },
          {
            "name": "error_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The search query to filter issues by error code.",
              "title": "Error Code"
            },
            "description": "The search query to filter issues by error code."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/IssueStatus",
              "description": "The search query to filter issues by issue status.",
              "default": "all"
            },
            "description": "The search query to filter issues by issue status."
          },
          {
            "name": "level",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "$ref": "#/components/schemas/IssueLevel" },
                { "type": "null" }
              ],
              "description": "The search query to filter issues by issue level.",
              "title": "Level"
            },
            "description": "The search query to filter issues by issue level."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/IssueItem" },
                  "title": "Response Issues Get Issues"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumer_id}/issues": {
      "get": {
        "tags": ["Issues"],
        "summary": "Get issues by consumer id",
        "description": "Returns a list of the issues linked to specific consumer. Filters can be used to query specific results. Filters can be combined and are inclusive.",
        "operationId": "issues_get_issues_by_consumer_id",
        "parameters": [
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Consumer Id" }
          },
          {
            "name": "created_on",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "The search query to filter issues by creation date.",
              "title": "Created On"
            },
            "description": "The search query to filter issues by creation date."
          },
          {
            "name": "last_seen_on",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "The search query to filter issues by last seen date.",
              "title": "Last Seen On"
            },
            "description": "The search query to filter issues by last seen date."
          },
          {
            "name": "error_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The search query to filter issues by error code.",
              "title": "Error Code"
            },
            "description": "The search query to filter issues by error code."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/IssueStatus",
              "description": "The search query to filter issues by issue status.",
              "default": "all"
            },
            "description": "The search query to filter issues by issue status."
          },
          {
            "name": "level",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "$ref": "#/components/schemas/IssueLevel" },
                { "type": "null" }
              ],
              "description": "The search query to filter issues by issue level.",
              "title": "Level"
            },
            "description": "The search query to filter issues by issue level."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/IssueItem" },
                  "title": "Response Issues Get Issues By Consumer Id"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The consumer does not exist.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/issues/{issue_id}": {
      "get": {
        "tags": ["Issues"],
        "summary": "Get details about one issue",
        "description": "Returns one specific issue. This includes as well the list of events for this issue.",
        "operationId": "issues_get_issue",
        "parameters": [
          {
            "name": "issue_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Issue Id" }
          },
          {
            "name": "last_execution_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "If true, only the events related to the last execution will be returned in the list of events.",
              "default": false,
              "title": "Last Execution Only"
            },
            "description": "If true, only the events related to the last execution will be returned in the list of events."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ExtendedIssueItem" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The issue does not exist.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumer_id}/accounting/folders": {
      "get": {
        "tags": ["Accounting", "Folders"],
        "summary": "Get Folders",
        "operationId": "accounting_get_folders",
        "parameters": [
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumer Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/FolderItem" },
                  "title": "Response Accounting Get Folders"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Error while trying to perform your request",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumer_id}/accounting/bookyears": {
      "get": {
        "tags": ["Accounting", "Book years"],
        "summary": "Get Bookyears",
        "operationId": "accounting_get_bookyears",
        "parameters": [
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumer Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "title": "Folder Id"
            },
            "description": "Id of the accounting folder instance. A folder represents a legal entity within the system. Required when the multiple folders feature is enabled."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChiftPage_BookYear_" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Error while trying to perform your request",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumer_id}/accounting/analytic-plans": {
      "get": {
        "tags": ["Accounting", "Analytic plans"],
        "summary": "Get Analytic Plans",
        "operationId": "accounting_get_analytic_plans",
        "parameters": [
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumer Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "title": "Folder Id"
            },
            "description": "Id of the accounting folder instance. A folder represents a legal entity within the system. Required when the multiple folders feature is enabled."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChiftPage_AnalyticPlanItem_"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Error while trying to perform your request",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumer_id}/accounting/clients": {
      "post": {
        "tags": ["Accounting", "Clients"],
        "summary": "Create client",
        "description": "Create a new client",
        "operationId": "accounting_create_client",
        "parameters": [
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumer Id"
            }
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "title": "Folder Id"
            },
            "description": "Id of the accounting folder instance. A folder represents a legal entity within the system. Required when the multiple folders feature is enabled."
          },
          {
            "name": "force_merge",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "title": "Force Merge"
            },
            "description": "Indicate the ID of the corresponding supplier in the accounting system. Accounting systems using 1 entity to handle clients/customers and suppliers will merge the existing supplier with the new client/customer (if the parameter is filled in with the ID of an existing supplier)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ClientItemIn" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ClientItemOut" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "A client/supplier already exist with the same code/id in the accounting system.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Accounting", "Clients"],
        "summary": "Get clients",
        "description": "Returns a list of accounting clients",
        "operationId": "accounting_get_clients",
        "parameters": [
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumer Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "title": "Folder Id"
            },
            "description": "Id of the accounting folder instance. A folder represents a legal entity within the system. Required when the multiple folders feature is enabled."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "title": "Search"
            },
            "description": "Filter based on the following fields: name, email, first_name, last_name, external_reference, vat and company_number"
          },
          {
            "name": "updated_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "type": "string", "format": "date-time" },
                { "type": "null" }
              ],
              "title": "Updated After"
            },
            "description": "Retrieve clients created or updated after a specific datetime (e.g. 2023-01-31T15:00:00 for 31 of January 2023 at 3PM UTC). UTC is the only format that is supported on all connectors."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChiftPage_ClientItemOut_"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Error while trying to perform your request",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumer_id}/accounting/clients/{client_id}": {
      "patch": {
        "tags": ["Accounting", "Clients"],
        "summary": "Update client",
        "description": "Endpoint that gives the possibility to update an accounting client",
        "operationId": "accounting_update_client",
        "parameters": [
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumer Id"
            }
          },
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Client Id" }
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "title": "Folder Id"
            },
            "description": "Id of the accounting folder instance. A folder represents a legal entity within the system. Required when the multiple folders feature is enabled."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ClientItemUpdate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ClientItemOut" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The VAT number doesn't seem to be correct. Please remove dots and whitespaces. The expected format is the following: BE0784930037",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The client/supplier doesn't exist in the accounting system.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Accounting", "Clients"],
        "summary": "Get one client",
        "description": "Returns a specific accounting client",
        "operationId": "accounting_get_client",
        "parameters": [
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumer Id"
            }
          },
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Client Id" }
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "title": "Folder Id"
            },
            "description": "Id of the accounting folder instance. A folder represents a legal entity within the system. Required when the multiple folders feature is enabled."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ClientItemOut" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Error while trying to perform your request",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The client/supplier doesn't exist in the accounting system.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumer_id}/accounting/suppliers": {
      "post": {
        "tags": ["Accounting", "Suppliers"],
        "summary": "Create supplier",
        "description": "Create a new supplier",
        "operationId": "accounting_create_supplier",
        "parameters": [
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumer Id"
            }
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "title": "Folder Id"
            },
            "description": "Id of the accounting folder instance. A folder represents a legal entity within the system. Required when the multiple folders feature is enabled."
          },
          {
            "name": "force_merge",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "title": "Force Merge"
            },
            "description": "Indicate the ID of the corresponding client/customer in the accounting system. Accounting systems using 1 entity to handle clients/customers and suppliers will merge the existing client/customer with the new supplier (if the parameter is filled in with the ID of an existing client/customer)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SupplierItemIn" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SupplierItemOut" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "A client/supplier already exist with the same code/id in the accounting system.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Accounting", "Suppliers"],
        "summary": "Get suppliers",
        "description": "Returns a list of accounting suppliers",
        "operationId": "accounting_get_suppliers",
        "parameters": [
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Consumer Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "title": "Folder Id"
            },
            "description": "Id of the accounting folder instance. A folder represents a legal entity within the system. Required when the multiple folders feature is enabled."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "title": "Search"
            },
            "description": "Filter based on the following fields: name, email, first_name, last_name, external_reference, vat and company_number"
          },
          {
            "name": "updated_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "type": "string", "format": "date-time" },
                { "type": "null" }
              ],
              "title": "Updated After"
            },
[...]
