{
  "openapi": "3.0.2",
  "info": {
    "title": "Chift API",
    "description": "The Chift API is a universal API giving you access to financial data from the software of your clients. It helps software companies to offer native integrations to their clients without the effort needed to maintain those native integrations. By using the APIs (Accounting, POS, eCommerce) of Chift, you connect once and allow your clients to use their software packages.",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://api.chift.eu", "description": "Chift" }],
  "paths": {
    "/consumers": {
      "get": {
        "tags": ["Consumers"],
        "summary": "Get consumers",
        "description": "Returns the list of consumers linked to your account.",
        "operationId": "consumers_get_consumers",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": { "title": "Search", "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Consumers Get Consumers",
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/ConsumerItem" }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Consumers"],
        "summary": "Create new consumer",
        "description": "Create a new consumer that will have the possibility to use the enabled integrations",
        "operationId": "consumers_create_consumer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PostConsumerItem" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConsumerItem" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The specified name is not valid",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The specified redirect url is not valid",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/consumers/{consumerid}": {
      "get": {
        "tags": ["Consumers"],
        "summary": "Get one consumer",
        "description": "Returns the specified consumer",
        "operationId": "consumers_get_consumer",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumerid",
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConsumerItem" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The consumer does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Consumers"],
        "summary": "Update one consumer",
        "description": "Update one consumer in Chift",
        "operationId": "consumers_update_consumer",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumerid",
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateConsumerItem" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConsumerItem" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The consumer does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The specified redirect url is not valid",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Unprocessable Entity"
          }
        }
      },
      "delete": {
        "tags": ["Consumers"],
        "summary": "Delete one consumer",
        "description": "Endpoint that deletes one consumer in Chift",
        "operationId": "consumers_delete_consumer",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumerid",
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": { "description": "Successful Response" },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The consumer does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumerid}/connections": {
      "get": {
        "tags": ["Connections"],
        "summary": "Get connections",
        "description": "Returns a list of the connections (active or inactive) linked to your consumer",
        "operationId": "connections_get_connections",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumerid",
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Connections Get Connections",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/app__routers__connections__ConnectionItem"
                  }
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The consumer does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Connections"],
        "summary": "Add new connection",
        "description": "Returns the url that can be used by your client to enable his integrations.",
        "operationId": "connections_create_connection",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumerid",
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PostConnectionItem" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LinkItem" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "There is already an active connection for the integrationid {integrationid}. Only one can be created for each consumer for each integrationid.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The consumer does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumerid}/connections/{connectionid}": {
      "patch": {
        "tags": ["Connections"],
        "summary": "Update an existing connection",
        "description": "Returns the url that can be used by your client to update the connection",
        "operationId": "connections_update_connection",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumerid",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "connectionid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Connectionid",
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PatchConnectionItem" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LinkItem" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The specified connectionid is not valid",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The connection does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Connections"],
        "summary": "Delete one connection",
        "description": "Endpoint that deletes one connection of a consumer in Chift",
        "operationId": "connections_delete_connection",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumerid",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "connectionid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Connectionid",
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": { "description": "Successful Response" },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The specified connectionid is not valid",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The connection does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/integrations": {
      "get": {
        "tags": ["Integrations"],
        "summary": "Get list of integrations",
        "description": "Returns a list of integrations (active and inactive) available for your account",
        "operationId": "integrations_get_integrations",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/app__routers__integrations__Status"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Integrations Get Integrations",
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/IntegrationItem" }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/integrations/{integrationid}/{image_type}.json": {
      "get": {
        "tags": ["Integrations"],
        "summary": "Returns a logo/icon of an integration (as base64)",
        "operationId": "integrations_get_integration_logo_json",
        "parameters": [
          {
            "name": "integrationid",
            "in": "path",
            "required": true,
            "schema": { "title": "Integrationid", "type": "integer" }
          },
          {
            "name": "image_type",
            "in": "path",
            "required": true,
            "schema": { "$ref": "#/components/schemas/ImageType" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LogoImage" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The {image_type} doesn't exist.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/webhooks/list": {
      "get": {
        "tags": ["Webhooks"],
        "summary": "Get list of possible webhooks",
        "description": "Returns a list of webhook that are available for your account",
        "operationId": "webhooks_get_webhook_types",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Webhooks Get Webhook Types",
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/WebhookItem" }
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "tags": ["Webhooks"],
        "summary": "Add new webhook instance",
        "description": "Returns the created webhook instance",
        "operationId": "webhooks_create_webhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookInstancePostItem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookInstanceGetItem"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "There is already an existing webhook with the same url and type",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Webhooks"],
        "summary": "Get list of webhook instances",
        "description": "Returns a list of webhook instances (active/inactive) for your account",
        "operationId": "webhooks_get_webhooks",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/app__routers__webhooks__Status"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Webhooks Get Webhooks",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookInstanceGetItem"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/webhooks/{webhookid}": {
      "delete": {
        "tags": ["Webhooks"],
        "summary": "Delete one webhook",
        "description": "Endpoint that deletes one existing webhook",
        "operationId": "webhooks_delete_webhook",
        "parameters": [
          {
            "name": "webhookid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Webhookid",
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": { "description": "Successful Response" },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The specified webhook could not be found for this account",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Webhooks"],
        "summary": "Get one webhook instance",
        "description": "Returns one webhook instance",
        "operationId": "webhooks_get_webhook",
        "parameters": [
          {
            "name": "webhookid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Webhookid",
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookInstanceGetItem"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The specified webhook could not be found for this account",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Webhooks"],
        "summary": "Update one webhook",
        "description": "Update one webhook in Chift",
        "operationId": "webhooks_update_webhook",
        "parameters": [
          {
            "name": "webhookid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Webhookid",
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookInstancePatchItem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookInstanceGetItem"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The specified url is not valid",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The specified webhook could not be found for this account",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/webhooks/{webhookid}/logs": {
      "get": {
        "tags": ["Webhooks"],
        "summary": "Get list of webhook logs for one webhook",
        "description": "Returns a list of webhook logs for one webhook for your account",
        "operationId": "webhooks_get_webhook_logs",
        "parameters": [
          {
            "name": "webhookid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Webhookid",
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Webhooks Get Webhook Logs",
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/WebhookLogItem" }
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The specified webhook could not be found for this account",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/syncs": {
      "get": {
        "tags": ["Syncs"],
        "summary": "Get syncs",
        "description": "Returns the syncs",
        "operationId": "syncs_get_syncs",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Syncs Get Syncs",
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/ReadSyncItem" }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Syncs"],
        "summary": "Create sync",
        "description": "Returns the created sync",
        "operationId": "syncs_post_sync",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateSyncItem" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReadSyncItem" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Syncs"],
        "summary": "Update existing sync",
        "description": "Update existing sync & related flows and mappings",
        "operationId": "syncs_update_sync",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateSyncItem" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReadSyncItem" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/syncs/{syncid}": {
      "get": {
        "tags": ["Syncs"],
        "summary": "Get sync",
        "description": "Returns a sync by id",
        "operationId": "syncs_get_sync",
        "parameters": [
          {
            "name": "syncid",
            "in": "path",
            "required": true,
            "schema": { "title": "Syncid", "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReadSyncItem" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The sync does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/syncs/{syncid}/flows/{flowid}/event": {
      "post": {
        "tags": ["Syncs"],
        "summary": "Send a custom event for a specific flow",
        "description": "Route that can be used to send a specific event for a flow",
        "operationId": "syncs_send_custom_event",
        "parameters": [
          {
            "name": "syncid",
            "in": "path",
            "required": true,
            "schema": { "title": "Syncid", "type": "string" }
          },
          {
            "name": "flowid",
            "in": "path",
            "required": true,
            "schema": { "title": "Flowid", "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PostSyncFlowEvent" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TriggerResponse" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "You cannot execute this flow as it is not correclty configured",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The chain does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Error while validating context data; the field {field.get('name')} does not seem to be of type {fieldtype}",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/consumers/{consumerid}/syncs/{syncid}/flows/{flowid}/executions": {
      "get": {
        "tags": ["Consumers"],
        "summary": "Get executions information for one consumer/flow/sync",
        "description": "Returns executions information for one consumer/flow/sync",
        "operationId": "syncs_get_consumer_executions",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumerid",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "syncid",
            "in": "path",
            "required": true,
            "schema": { "title": "Syncid", "type": "string", "format": "uuid" }
          },
          {
            "name": "flowid",
            "in": "path",
            "required": true,
            "schema": { "title": "Flowid", "type": "string", "format": "uuid" }
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Date To",
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Date From",
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Syncs Get Consumer Executions",
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/ChainExecutionItem" }
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The flow does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/syncs/{syncid}/flows/{flowid}/executions/{executionid}": {
      "get": {
        "tags": ["Syncs"],
        "summary": "Get execution start/end timestamp",
        "description": "Get execution start/end timestamp",
        "operationId": "syncs_get_execution",
        "parameters": [
          {
            "name": "syncid",
            "in": "path",
            "required": true,
            "schema": { "title": "Syncid", "type": "string" }
          },
          {
            "name": "flowid",
            "in": "path",
            "required": true,
            "schema": { "title": "Flowid", "type": "string" }
          },
          {
            "name": "executionid",
            "in": "path",
            "required": true,
            "schema": { "title": "Executionid", "type": "string" }
          },
          {
            "name": "consumerid",
            "in": "query",
            "required": false,
            "schema": { "title": "Consumerid", "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChainExecutionItem" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The execution does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumerid}/syncs": {
      "post": {
        "tags": ["Consumers"],
        "summary": "Retrieve the url of a sync for a specific consumer",
        "description": "This route can be used to retrieve the url that can be shared with your clients to allow them to connect as specified in a sync",
        "operationId": "syncs_create_synctoconsumer",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumerid",
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsumerSyncItem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LinkSyncItem" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The flow does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "{integrationid} is not part of the selected integrations of the sync",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumerid}/syncs/{syncid}": {
      "get": {
        "tags": ["Consumers"],
        "summary": "Get sync information for one consumer",
        "description": "Returns sync information (creation date, mapping) related to a specific consumer",
        "operationId": "syncs_get_syncconsumer",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumerid",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "syncid",
            "in": "path",
            "required": true,
            "schema": { "title": "Syncid", "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SyncConsumerItem" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The consumer is not configured for this sync",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumerid}/syncs/{syncid}/flows/{flowid}/enable": {
      "post": {
        "tags": ["Syncs"],
        "summary": "Enable a flow for a specific consumer",
        "description": "Route that can be used to enable a flow for a specific consumer",
        "operationId": "syncs_enable_syncconsumer",
        "parameters": [
          {
            "name": "syncid",
            "in": "path",
            "required": true,
            "schema": { "title": "Syncid", "type": "string", "format": "uuid" }
          },
          {
            "name": "flowid",
            "in": "path",
            "required": true,
            "schema": { "title": "Flowid", "type": "string", "format": "uuid" }
          },
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumerid",
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EnableFlowConsumer" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The consumer does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Impossible to enable the flow as the flow requires configuration fields",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/datastores": {
      "get": {
        "tags": ["Datastores"],
        "summary": "Get list of datastores",
        "description": "Returns a list of datastores (active and inactive) available for your account",
        "operationId": "datastores_get_datastores",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/app__routers__datastores__Status"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Datastores Get Datastores",
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/DataStoreItem" }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumerid}/datastore/{datastoreid}/data": {
      "get": {
        "tags": ["Consumers"],
        "summary": "Get execution data for a specific consumer and a specific datastore",
        "description": "Returns execution data related to a consumer and a datastore. Queryparams can be used to filter the restuls by datastore column or by executionid",
        "operationId": "datastores_get_consumer_and_datastoredata",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumerid",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "datastoreid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Datastoreid",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Date To",
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Date From",
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "executionid",
            "in": "query",
            "required": false,
            "schema": { "title": "Executionid", "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Datastores Get Consumer And Datastoredata",
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/DataItemOut" }
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The datastore does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Consumers"],
        "summary": "Add data into a datastore for a consumer",
        "description": "Endpoint that can be used to add data into a datastore for a specific consumer",
        "operationId": "datastores_create_consumer_datastoredata",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumerid",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "datastoreid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Datastoreid",
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "Datas",
                "type": "array",
                "items": { "$ref": "#/components/schemas/DataItem" }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Datastores Create Consumer Datastoredata",
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/DataItemOut" }
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The datastore does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The input does not match the definition of the datastore",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/consumers/{consumerid}/datastore/{datastoreid}/data/{datastoredataid}": {
      "patch": {
        "tags": ["Consumers"],
        "summary": "Update execution data for a specific consumer and a specific datastore",
        "description": "Update and returns execution data related to a consumer and a datastore",
        "operationId": "datastores_update_consumer_datastoredata",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumerid",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "datastoreid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Datastoreid",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "datastoredataid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Datastoredataid",
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DataItem" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DataItemOut" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The datastoredata does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The input does not match the definition of the datastore",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Unprocessable Entity"
          }
        }
      },
      "delete": {
        "tags": ["Consumers"],
        "summary": "Delete execution data for a specific consumer and a specific datastore",
        "description": "Delete execution data related to a consumer and a datastore",
        "operationId": "datastores_delete_consumer_datastoredata",
        "parameters": [
          {
            "name": "consumerid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumerid",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "datastoreid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Datastoreid",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "datastoredataid",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Datastoredataid",
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The datastoredata does not exist",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumer_id}/accounting/folders": {
      "get": {
        "tags": ["Accounting"],
        "summary": "Get Folders",
        "operationId": "accounting_get_folders",
        "parameters": [
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumer Id",
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Accounting Get Folders",
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/FolderItem" }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Error while trying to perform your request",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumer_id}/accounting/analytic-plans": {
      "get": {
        "tags": ["Accounting"],
        "summary": "Get Analytic Plans",
        "operationId": "accounting_get_analytic_plans",
        "parameters": [
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumer Id",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Folder Id",
              "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature.",
              "type": "string"
            },
            "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Page",
              "default": 1,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Size",
              "default": 50,
              "minimum": 1,
              "maximum": 100,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChiftPage_AnalyticPlanItem_"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Error while trying to perform your request",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumer_id}/accounting/clients": {
      "post": {
        "tags": ["Accounting"],
        "summary": "Create client",
        "description": "Create a new client",
        "operationId": "accounting_create_client",
        "parameters": [
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumer Id",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "force_merge",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Force Merge",
              "description": "Indicate the ID of the corresponding supplier in the accounting system. Accounting systems using 1 entity to handle clients/customers and suppliers will merge the existing supplier with the new client/customer (if the parameter is filled in with the ID of an existing supplier).",
              "type": "string"
            },
            "description": "Indicate the ID of the corresponding supplier in the accounting system. Accounting systems using 1 entity to handle clients/customers and suppliers will merge the existing supplier with the new client/customer (if the parameter is filled in with the ID of an existing supplier)."
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Folder Id",
              "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature.",
              "type": "string"
            },
            "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ClientItemIn" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ClientItemOut" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "A client/supplier already exist with the same code/id in the accounting system.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Accounting"],
        "summary": "Get clients",
        "description": "Returns a list of accounting clients",
        "operationId": "accounting_get_clients",
        "parameters": [
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumer Id",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Folder Id",
              "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature.",
              "type": "string"
            },
            "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Page",
              "default": 1,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Size",
              "default": 50,
              "minimum": 1,
              "maximum": 100,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChiftPage_ClientItemOut_"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Error while trying to perform your request",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumer_id}/accounting/clients/{client_id}": {
      "patch": {
        "tags": ["Accounting"],
        "summary": "Update client",
        "description": "Endpoint that gives the possibility to update an accounting client",
        "operationId": "accounting_update_client",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "title": "Client Id", "type": "string" }
          },
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumer Id",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Folder Id",
              "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature.",
              "type": "string"
            },
            "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ClientItemUpdate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ClientItemOut" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The VAT number doesn't seem to be correct. Please remove dots and whitespaces. The expected format is the following: BE0784930037",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The client/supplier doesn't exist in the accounting system.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Accounting"],
        "summary": "Get one client",
        "description": "Returns a specific accounting client",
        "operationId": "accounting_get_client",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "title": "Client Id", "type": "string" }
          },
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumer Id",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Folder Id",
              "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature.",
              "type": "string"
            },
            "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ClientItemOut" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Error while trying to perform your request",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The client/supplier doesn't exist in the accounting system.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumer_id}/accounting/suppliers": {
      "post": {
        "tags": ["Accounting"],
        "summary": "Create supplier",
        "description": "Create a new supplier",
        "operationId": "accounting_create_supplier",
        "parameters": [
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumer Id",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "force_merge",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Force Merge",
              "description": "Indicate the ID of the corresponding client/customer in the accounting system. Accounting systems using 1 entity to handle clients/customers and suppliers will merge the existing client/customer with the new supplier (if the parameter is filled in with the ID of an existing client/customer).",
              "type": "string"
            },
            "description": "Indicate the ID of the corresponding client/customer in the accounting system. Accounting systems using 1 entity to handle clients/customers and suppliers will merge the existing client/customer with the new supplier (if the parameter is filled in with the ID of an existing client/customer)."
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Folder Id",
              "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature.",
              "type": "string"
            },
            "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SupplierItemIn" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SupplierItemOut" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "A client/supplier already exist with the same code/id in the accounting system.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Accounting"],
        "summary": "Get suppliers",
        "description": "Returns a list of accounting suppliers",
        "operationId": "accounting_get_suppliers",
        "parameters": [
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumer Id",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Folder Id",
              "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature.",
              "type": "string"
            },
            "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Page",
              "default": 1,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Size",
              "default": 50,
              "minimum": 1,
              "maximum": 100,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChiftPage_SupplierItemOut_"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Error while trying to perform your request",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumer_id}/accounting/suppliers/{supplier_id}": {
      "get": {
        "tags": ["Accounting"],
        "summary": "Get one supplier",
        "description": "Returns one accounting supplier",
        "operationId": "accounting_get_supplier",
        "parameters": [
          {
            "name": "supplier_id",
            "in": "path",
            "required": true,
            "schema": { "title": "Supplier Id", "type": "string" }
          },
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumer Id",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Folder Id",
              "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature.",
              "type": "string"
            },
            "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SupplierItemOut" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Error while trying to perform your request",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The client/supplier doesn't exist in the accounting system.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Accounting"],
        "summary": "Update one supplier",
        "description": "Update an accounting supplier",
        "operationId": "accounting_update_supplier",
        "parameters": [
          {
            "name": "supplier_id",
            "in": "path",
            "required": true,
            "schema": { "title": "Supplier Id", "type": "string" }
          },
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumer Id",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Folder Id",
              "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature.",
              "type": "string"
            },
            "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SupplierItemUpdate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SupplierItemOut" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The VAT number doesn't seem to be correct. Please remove dots and whitespaces. The expected format is the following: BE0784930037",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The client/supplier doesn't exist in the accounting system.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumer_id}/accounting/invoices": {
      "post": {
        "tags": ["Accounting"],
        "summary": "Create sale/purchase entry",
        "description": "Create a new sale/purchase accounting entry",
        "operationId": "accounting_create_invoice",
        "parameters": [
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumer Id",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "force_financial_period",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Force Financial Period",
              "description": "Financial period in which the invoice must be created. The format is the following: mmYYYY.",
              "type": "string"
            },
            "description": "Financial period in which the invoice must be created. The format is the following: mmYYYY.",
            "example": "022022"
          },
          {
            "name": "regroup_lines",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Regroup lines by account number, tax code and analytic account in the accounting system.",
              "default": "true",
              "allOf": [{ "$ref": "#/components/schemas/BoolParam" }]
            },
            "description": "Regroup lines by account number, tax code and analytic account in the accounting system."
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Folder Id",
              "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature.",
              "type": "string"
            },
            "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceItemInMonoAnalyticPlan"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceItemOutMonoAnalyticPlan"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The document is not a valid base64 string representing a PDF.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The currency 'x' doesn't exist in the accounting system.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumer_id}/accounting/invoices/multi-analytic-plans": {
      "post": {
        "tags": ["Accounting"],
        "summary": "Create sale/purchase entry (Multiple plans)",
        "description": "Create a new sale/purchase entry with multiple analytic plans in the accounting",
        "operationId": "accounting_create_invoice_multiple_plans",
        "parameters": [
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumer Id",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "force_financial_period",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Force Financial Period",
              "description": "Financial period in which the invoice must be created. The format is the following: mmYYYY.",
              "type": "string"
            },
            "description": "Financial period in which the invoice must be created. The format is the following: mmYYYY.",
            "example": "022022"
          },
          {
            "name": "regroup_lines",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Regroup lines by account number, tax code and analytic distribution in the accounting system.",
              "default": "true",
              "allOf": [{ "$ref": "#/components/schemas/BoolParam" }]
            },
            "description": "Regroup lines by account number, tax code and analytic distribution in the accounting system."
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Folder Id",
              "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature.",
              "type": "string"
            },
            "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceItemInMultiAnalyticPlans"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceItemOutMultiAnalyticPlans"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The document is not a valid base64 string representing a PDF.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The currency 'x' doesn't exist in the accounting system.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumer_id}/accounting/invoices/type/{invoice_type}": {
      "get": {
        "tags": ["Accounting"],
        "summary": "Get invoices by type (sale/purchase entries)",
        "description": "Returns a list of invoices by a specific type (=sale/purchase entries). Each line of the invoice will include the analytic account linked to default analytic plan. Optionnaly dates can be defined to retrieve invoice from a certain date to another date",
        "operationId": "accounting_get_invoices_by_type",
        "parameters": [
          {
            "name": "invoice_type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/app__routers__accounting__InvoiceType"
            }
          },
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumer Id",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Date From",
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "schema": { "title": "Date To", "type": "string", "format": "date" }
          },
          {
            "name": "journal_ids",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Journal Ids",
              "description": "Journal Ids used to filter the invoices. The Ids are separed by ','",
              "type": "string"
            },
            "description": "Journal Ids used to filter the invoices. The Ids are separed by ','",
            "example": "3,12"
          },
          {
            "name": "include_payments",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Indicate if payments linked to the invoices should be included in the response. By default payments are not included and the field payments is null.",
              "default": "false",
              "allOf": [{ "$ref": "#/components/schemas/BoolParam" }]
            },
            "description": "Indicate if payments linked to the invoices should be included in the response. By default payments are not included and the field payments is null."
          },
          {
            "name": "payment_status",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Extra filter to retrieve invoices with a specific payment status.",
              "default": "all",
              "allOf": [
                { "$ref": "#/components/schemas/models__common__PaymentStatus" }
              ]
            },
            "description": "Extra filter to retrieve invoices with a specific payment status."
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Folder Id",
              "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature.",
              "type": "string"
            },
            "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Page",
              "default": 1,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Size",
              "default": 50,
              "minimum": 1,
              "maximum": 100,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChiftPage_InvoiceItemOutMonoAnalyticPlan_"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "You must provide an invoice type.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumer_id}/accounting/invoices/{invoice_id}": {
      "get": {
        "tags": ["Accounting"],
        "summary": "Get one invoice (sale/purchase entry)",
        "description": "Returns a specific invoice (sale/purchase entry). Each line will include the analytic account linked to default analytic plan",
        "operationId": "accounting_get_invoice",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": { "title": "Invoice Id", "type": "string" }
          },
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumer Id",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "include_payments",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Indicate if payments linked to the invoice should be included in the response. By default payments are not included and the field payments is null.",
              "default": "false",
              "allOf": [{ "$ref": "#/components/schemas/BoolParam" }]
            },
            "description": "Indicate if payments linked to the invoice should be included in the response. By default payments are not included and the field payments is null."
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Folder Id",
              "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature.",
              "type": "string"
            },
            "description": "Accounting folder ID, this needs to be passed when activating the multiple folders feature."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceItemOutMonoAnalyticPlan"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The ID of the invoice doesn't have the correct format.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "message": "The invoice doesn't exist in the accounting system.",
                  "status": "error"
                },
                "schema": { "$ref": "#/components/schemas/ChiftError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/consumers/{consumer_id}/accounting/invoices/multi-analytic-plans/{invoice_id}": {
      "get": {
        "tags": ["Accounting"],
        "summary": "Get one invoice (sale/purchase entry - Multiple Analytic Plans)",
        "description": "Returns a specific invoice (=sale/purchase entry) with invoice lines including multiple analytic plans",
        "operationId": "accounting_get_invoice_multi_analytic_plans",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": { "title": "Invoice Id", "type": "string" }
          },
          {
            "name": "consumer_id",
            "in": "path",
            "required": true,
            "schema": {
              "title": "Consumer Id",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "include_payments",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Indicate if payments linked to the invoice should be included in the response. By default payments are not included and the field payments is null.",
              "default": "false",
              "allOf": [{ "$ref": "#/components/schemas/BoolParam" }]
            },
[...]
